.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    background-color: white;
}

.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
    background-color: white;
}