
.aboutExitLogo {
    z-index: 10003;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 10px;
    top: 10px;
}

.aboutHeader {
    align-items: center;
    background: #7bd1fc;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 0.5;
    margin-bottom: 42px;
}

.aboutLogo {
    position: relative;
    bottom: -42px;
}

.aboutSpacing {
    flex-basis: 10%;
}

.aboutTitle {
    font-family: "Heebo-Bold", sans-serif;
    font-size: 22px;
}


.aboutBody {
    width: 75%;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 2;
}

.iafLogo{
    width: 90px;
    height: 90px;
    padding-bottom: 7px;
    padding-top: 7px;
}

.bottomText {
    font-size: 10pt;
    align-self: center;
    padding-bottom: 7px;
}

.linksContainer {
    width: 100%;
    background: #f7f5f5;
}

.aboutBottomImg{
    padding: 9px;
}

.container {
    display: contents;
}

.headerContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.aboutContainer {
    height: 100%;
}

.footer {
    width: 100%;
}
